# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Celery result and config files
*.db
*.pid
*.log

# Virtual environment
venv/
env/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/*.csv
data/*.json
